@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@400;600;700&display=swap');
.outer{
    display: flex;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    align-items: center;
    justify-content: center;
    
}
.inner{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    background-color:rgb(211, 202, 202);
}